
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat&family=Poppins:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif; */



.body, 
.header {
    width: 100%;
    display: flex;
    align-items: center;   
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #721D7B;
    gap: 1em;
}

.header, .container {   
    background-color: white;
    }

.container {
    width: 77%;
    margin: auto;
    padding: 0 4em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 5px;
} 

.header__title {
    font-size: 3em;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    background-color:#CCFF66;
    padding: 0 1em;
    font-weight: 700;
    /* font-family: 'Poppins', sans-serif; */
}

.header__img {
    margin: auto;
    /* border: 3px solid yellowgreen; */
    -webkit-box-shadow: -21px 33px 0px 9px #FFFF67;
    box-shadow: -43px 33px 0px 9px #ffff67;
}
.header__span {
    font-weight: bold;
}
.header__caption {
   margin: 4em 0;
   display: inline-block;
   text-align: center;
   padding: 0 11em;
}
.main {
    margin-top: 1rem;
}

.main__title {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    background-color:#00798C;
    margin-bottom: 2em;
    padding: 0.3em;   
    color: white;
  }


  .main__list {
      padding: 0 2.3em;
  }
.main__date {
    margin-bottom: 1em;
    list-style: disc;
}

.main__date::marker {
    color: #721D7B;
    font-size: 1.5em;
    font-weight: bold;
    
}
.main__span{
    background-color: #721D7B;
    color: white;
    font-weight: bold;
    padding: 0 0.5em;
}


.footer {
    color: white;
}

.footer__link {
    font-weight: bold;
    border-bottom: 2px solid #CCFF66;
}


/* From cssbuttons.io by @namecho */
.button,
.button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #CF32A3 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px  #ffff67;;
 outline: transparent;
 position: relative;
 left: 42em;
}

.button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, );
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}



header__title  {
  
  line-height: 20vmin;
}

.header__title {
  color: transparent;
  background: conic-gradient(
    #D9D7F1 12%, 
    #5A0191 12%, #E58D89 33%, 
    /* #CCFF66 33%, #71B57C 55%,  */
    #FFCBCB 55%, #FFCBCB 70%, 
    #00798C 70%, #00798C 87%, 
    #E58D89 87%);
  background-size: 50%;
  background-clip: text;  
  -webkit-background-clip: text;
  

}




/*  
 background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #E7FBBE 33%, #E7FBBE 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);


@media screen and (max-width:480px) {

    .container,
    .header__image,    {
       width: 90%;
    }

    .container {
        padding: 0;
    }
}

@media screen and (min-width:481px) and (max-width: 760px) {

}

@media screen and (min-width: 761px) {

} */
